<section class="full-screen-intro home">
  <div class="media-wapper cont-h-100per" style="background-size: cover !important; background-position: center center;  background-image: url('<%= asset_path 'home.jpg' %>');"></div>

  <div class="full-cap-wraper overlay-dark light-color">
    <div class="content-caption light-color">
      <div class="container">
        <h2 class="h2">[glance]</h2>
        <div class="row">
          <p class="lead col-md-6 col-md-offset-3">discover and share your travel photos</p>
        </div>
        <br>
        <div>
          <a class="btn btn-md btn-white-line xs-hidden scroll-down" href="#about">Read More</a>
          <span class="btn-space-10 xs-hidden"></span>
          <%= link_to oauth_path, :class => "btn btn-md btn-white" do %>
            <i class="fa fa-instagram"></i>Login
          <%- end -%>
        </div>
      </div>
    </div>
  </div>

  <div class="intro-scroll-down">
    <a class="scroll-down" href="#about">
        <span class="mouse">
            <span class="mouse-dot"></span>
        </span>
    </a>
  </div>

</section>
<div class="clearfix"></div>

<section class="ptb ptb-sm-80" id="about">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="h4">About [glance]</h3>
        <div class="spacer-15"></div>
        <p class="lead">glance connects with Instagram to access photos from your travels.</p>
        <p class="lead">Add your travel companions to create an album together and share them with your friends and family in few easy steps.</p>
        <div class="spacer-75"></div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="page-icon-top"><i class="ion ion-ios-world-outline"></i></div>
        <h5>1. PLAN</h5>
        <p>Plan a solo trip or invite friends along. Pick a unique hashtag for everyone to use throughout the trip.</p><br>
      </div>
      <div class="col-md-4 col-sm-6 col-sm-12">
        <div class="page-icon-top"><i class="ion ion-ios-cloud-upload-outline"></i></div>
        <h5>2. UPLOAD</h5>
        <p>Take pictures and upload them to Instagram using the hashtag.</p><br>
      </div>
      <div class="col-md-4 col-sm-12 col-sm-12">
        <div class="page-icon-top"><i class="ion ion-ios-photos-outline"></i></div>
        <h5>3. CREATE & SHARE</h5>
        <p>Come back to glance to create a photo album. Cosolidate pictures from your friends and share them with others.</p><br>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>

<!-- add background image -->
<section id="banner" class="overlay-dark80 light-color ptb-80" style="" data-stellar-background-ratio="0.5">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-offset-3 col-md-3 col-sm-6">
        <h1 class="counter">196</h1>
        <h6>countries</h6>
      </div>
      <div class="col-md-3">
        <h3>Where will you go?</h3>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>

<section id="content" class="ptb ptb-sm-80">
  <div class="container">
    <div class="col-md-6">
      <div class="container-grid nf-col-2">
        <div class="nf-item">
          <div class="item-box">
            <a href="#">
              <img src="<%= image_path 'greatwall.jpg' %>" class="item-container">
            </a>
          </div>
        </div>
        <div class="nf-item">
          <div class="item-box">
            <a href="#">
              <img src="<%= image_path 'city.jpg' %>" class="item-container">
            </a>
          </div>
        </div>
        <div class="nf-item">
          <div class="item-box">
            <a href="#">
              <img src="<%= image_path 'beach.jpg' %>" class="item-container">
            </a>
          </div>
        </div>
        <div class="nf-item">
          <div class="item-box">
            <a href="#">
              <img src="<%= image_path 'walking.jpg' %>" class="item-container">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div class="spacer-30"></div>
      <h3>Discover</h3>
      <div class="spacer-15"></div>
      <p>Search and browse albums from other travellers to see breathtaking photos. Geotagged pictures can become your inspiration for your next travel plans.</p>
      <p>Discover beauty. Be inspired.</p>
      <div class="spacer-15"></div>
      <%= link_to "Get Started", oauth_path, :class => "btn btn-md btn-black" %>
    </div>
  </div>
</section>

