<div class="sign-in">
  <div id="profile-image-container">
    <%= image_tag current_user.image, :class => "profile-image" %>
  </div>
  <h5 class="white greeting">@<%= current_user.nickname %></h5>
</div>
<ul>
    <li><%= link_to "My Albums", root_path %></li>
    <li><%= link_to "New Album", new_album_path %></li>
    <li class="boundry"></li>
    <li><%= link_to "Sign out", signout_path %></li>
</ul>