<%= form_for album do |f| %>
  <p>The hashtag to be searched</p>
  <%= f.text_field :title %></br>
  <p>Users to be included</p>
  <div id="contributors">
    <%- album.contributors.each do |contributor| -%>
      <%= text_field_tag "contributor[names][]", contributor.nickname %>
    <%- end -%>
    <input type="text" name="contributor[names][]"></input>
  </div>
  <a href="#" id="add_contributor">Add Another Contributor (+)</a>
  <a href="#" id="remove_contributor">Remove Contributor (-)</a>

  <p>Private/Public Album</p>
  <%= f.radio_button :public, 'true' %>
  <%= label :public_true, 'Public' %>
  <%= f.radio_button :public, 'false' %>
  <%= label :public_false, 'Private' %>
  <br>
  <%= f.submit %>
<%- end -%>