<h1>Albums#show</h1>
<p>This will become the map page</p>

<img src="<%= @album.owner.image %>">
<p>@<%= @album.owner.nickname %></p>
<%- @album.contributors.each do |contributor| -%>
  <p>@<%= contributor.nickname %></p>
<%- end -%>

<h2><%= @album.title %></h2>

<%- @album.photos.each do |photo| -%>

  <%= image_tag photo.media_url %><br>
  <p><%= photo.caption %></p>
  <p>Photo taken at: <%= photo.location_name %>(<%= "#{photo.latitude}, #{photo.longitude}" %>) on <%= photo.posted_time %></p>

<%- end -%>


<%= link_to "Edit Album", edit_album_path(@album) %><br>
<%= link_to "Delete Album", @album, method: :delete %><br>