<!DOCTYPE html>
<html>
<head>
  <title>glance</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
  <body class="full-intro">

    <%= render "layouts/sidemenu/menu" %>

    <div class="wrapper">
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>